/* Centering the profile container */
.profile-container3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* Full screen height */
	background-color: #f4f4f4;
}

/* Profile box design */
.profile-box {
	background: #C5CDE0;
	/* background: rgb(230, 239, 173); */
	padding: 30px;
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-align: left;
	width: 500px;
}

/* Profile title styling */
.profile-title {
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: bolder;
}

/* Styling for password input */
/* .password-input {
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
} */

/* Eye button styling */
/* .eye-button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
} */
.message-icon {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Changed from left to right */
    background-color: #003399;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    text-align: center;
}